<div class="flex min-w-160 w-full flex-col">
    <div class="relative flex flex-auto flex-col items-center px-6 sm:px-12">
        <!-- Title -->
        <div class="w-full max-w-3xl text-center mt-8">
            <h1 class="text-2xl font-bold">Ajouter une chambre</h1>
        </div>
        <div class="w-full max-w-3xl">
            <form [formGroup]="roomForm">
                <!-- Name -->
                <div class="mt-8">
                    <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                        <mat-label>Nom de la chambre</mat-label>
                        <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                            [svgIcon]="'heroicons_outline:clipboard'"></mat-icon>
                        <input matInput [formControlName]="'roomName'" [placeholder]="'Nom de la chambre'" [spellcheck]="false" />
                    </mat-form-field>
                </div>

                <!-- Address -->
                <div class="mt-8">
                    <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                        <mat-label>Numéro de la chambre</mat-label>
                        <mat-icon matPrefix class="hidden icon-size-5 sm:flex"
                            [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                        <input matInput [formControlName]="'roomNumber'" [placeholder]="'Numéro de la chambre'" />
                    </mat-form-field>
                </div>


                <!-- Amenities -->
                <!-- <div class="mt-8">
                    <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                        <mat-label>Amenities</mat-label>
                        <mat-select multiple formControlName="amenities">
                            @for (amenity of amenities; track $index) {
                                <mat-option [value]="amenity._id">
                                    {{amenity.name}}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div> -->

                <!-- Actions -->
                <div
                    class="-mx-6 mt-10 flex items-center justify-center py-5 sm:-mx-12">

                    <!-- Save -->
                    <button class="ml-2" mat-flat-button [color]="'primary'" [disabled]="roomForm.invalid"
                        (click)="createRoom()">
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
